.addCentrado {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    margin-left: -30px;
    z-index: 1000;
}


/* estilo general */
.home-title {
    text-align: center;
    margin-bottom: 1rem;
}

.cuentas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.cuenta-card {
    width: 15rem;
    background-color: var(--card-background-color);
    color: var(--text-color);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
}

.cuenta-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px var(--box-shadow-color);
}

.cuenta-nombre {
    font-weight: 600;
    color: var(--text-color);
}

.cuenta-monto {
    font-weight: 700;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
    background-color: #ff8c42;
}

.dark-mode .cuenta-monto {
    background-color: skyblue;
    color: #111827;
}





/* Para botones de edicion */
.cuenta-actions {
    display: flex;
    flex-direction: column;
}

.cuenta-actions button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0 0.25rem;
    transition: transform 0.2s;
}

.cuenta-actions button:hover {
    transform: scale(1.1);
}

.cuenta-actions .edit-button {
    color: green;
}

.cuenta-actions .delete-button {
    color: red;
}






/* Responsivo para mobile */
@media (max-width: 480px) {
    .cuentas-container {
        width: 95%;
        padding: 0.5rem;
    }

    .cuenta-card {
        font-size: 1.1rem;
        padding: 1rem 1.5rem;
    }

    .cuenta-monto {
        padding: 0.4rem 0.8rem;
    }
}
